<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel app</title>
</head>
<body>
    <label for="location">Where do you want to go?</label>
    <input type="text" id="location" name="location" placeholder="Enter location">
    <label for="departing-date">When do you plan to go?</label>
    <input type="date" id="departing-date" name="departing-date">
    <button id="getTripButton">Check trip</button>
</body>
</html>